*filter

#allow established connections
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A OUTPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

#loop
-A INPUT -i lo -j ACCEPT
-A OUTPUT -o lo -j ACCEPT

# 6. Allow incoming HTTP
-A OUTPUT -o eth0 -p tcp --dport 80 -m state --state NEW,ESTABLISHED -j ACCEPT
-A INPUT -i eth0 -p tcp --dport 443 -m state --state NEW,ESTABLISHED -j ACCEPT

-A INPUT -i eth1 -p tcp --dport 2049 -m state --state NEW,ESTABLISHED -j ACCEPT
-A OUTPUT -o eth1 -p tcp --sport 2049 -m state --state ESTABLISHED -j ACCEPT
-A INPUT -i eth1 -p tcp --dport 32764:32769 -m state --state NEW,ESTABLISHED -j ACCEPT
-A OUTPUT -o eth1 -p tcp --sport 32764:32769 -m state --state ESTABLISHED -j ACCEPT
-A INPUT -i eth1 -p udp --dport 2049 -m state --state NEW,ESTABLISHED -j ACCEPT
-A OUTPUT -o eth1 -p udp --sport 2049 -m state --state ESTABLISHED -j ACCEPT
-A INPUT -i eth1 -p udp --dport 32764:32769 -m state --state NEW,ESTABLISHED -j ACCEPT
-A OUTPUT -o eth1 -p udp --sport 32764:32769 -m state --state ESTABLISHED -j ACCEPT

# 5. Allow incoming SSH only from a sepcific network
-A INPUT -i eth0 -p tcp --dport 22 -m state --state NEW,ESTABLISHED -j ACCEPT
-A OUTPUT -o eth0 -p tcp --sport 22 -m state --state ESTABLISHED -j ACCEPT

# 9. Allow outgoing SSH 
-A OUTPUT -p tcp --dport 22 -m state --state NEW,ESTABLISHED -j ACCEPT
-A INPUT -p tcp --sport 22 -m state --state ESTABLISHED -j ACCEPT

# GlusterFS/NFS
-A INPUT -i eth1 -m state --state NEW,ESTABLISHED -p tcp --dport 24007:24047 -j ACCEPT
-A OUTPUT -o eth1 -m state --state ESTABLISHED -p tcp --sport 24007:24047 -j ACCEPT
-A INPUT -i eth1 -m state --state NEW,ESTABLISHED -p tcp --dport 24007:24047 -j ACCEPT
-A OUTPUT -o eth1 -m state --state ESTABLISHED -p tcp --sport 24007:24047 -j ACCEPT
-A INPUT -i eth1 -m state --state NEW,ESTABLISHED  -p tcp --dport 111 -j ACCEPT
-A OUTPUT -o eth1 -m state --state ESTABLISHED  -p tcp --sport 111 -j ACCEPT
-A INPUT -i eth1 -m state --state NEW,ESTABLISHED -p udp --dport 111 -j ACCEPT
-A OUTPUT -o eth1 -m state --state ESTABLISHED -p udp --sport 111 -j ACCEPT
-A INPUT -i eth1 -m state --state NEW,ESTABLISHED -p tcp --dport 38465:38467 -j ACCEPT
-A OUTPUT -o eth1 -m state --state ESTABLISHED -p tcp --sport 38465:38467 -j ACCEPT
-A INPUT -i eth1 -m state --state NEW,ESTABLISHED -p tcp --dport 49152:59153 -j ACCEPT
-A OUTPUT -o eth1 -m state --state ESTABLISHED -p tcp --sport 49152:59153 -j ACCEPT
-A INPUT -i eth1 -m state --state NEW,ESTABLISHED  -p tcp --dport 34865:34867 -j ACCEPT
-A OUTPUT -o eth1 -m state --state ESTABLISHED  -p tcp --sport 34865:34867 -j ACCEPT

# 12. Ping from inside to outside
-A OUTPUT -o eth0 -p icmp --icmp-type echo-request -j ACCEPT
-A INPUT -i eth0 -p icmp --icmp-type echo-reply -j ACCEPT

# 13. Ping from outside to inside
-A INPUT -i eth0 -p icmp --icmp-type echo-request -j ACCEPT
-A OUTPUT -o eth0 -p icmp --icmp-type echo-reply -j ACCEPT

# allow pings in internal network
-A OUTPUT -o eth1 -p icmp --icmp-type echo-request -j ACCEPT
-A INPUT -i eth1 -p icmp --icmp-type echo-reply -j ACCEPT
-A INPUT -i eth1 -p icmp --icmp-type echo-request -j ACCEPT
-A OUTPUT -o eth1 -p icmp --icmp-type echo-reply -j ACCEPT

# ntp client
-A OUTPUT -p udp --dport 123 -j ACCEPT
-A INPUT -p udp --sport 123 -j ACCEPT

# ntp server
-A INPUT -p udp --dport 123 -j ACCEPT
-A OUTPUT -p udp --sport 123 -j ACCEPT

#DNS
-A OUTPUT -o eth0 -p udp --dport 53 -j ACCEPT
-A INPUT -i eth0 -p udp --sport 53 -j ACCEPT
-A OUTPUT -o eth1 -p udp --sport 53 -j ACCEPT
-A INPUT -i eth1 -p udp --dport 53 -j ACCEPT

#dhcp
-I INPUT -i eth1 -p udp --dport 67:68 --sport 67:68 -j ACCEPT
-I INPUT -i eth0 -p udp --dport 67:68 --sport 67:68 -j ACCEPT

# Allow incoming HTTP stuff
-A FORWARD -i eth1 -o eth0 -p tcp --dport 443 -m state --state NEW,ESTABLISHED -j ACCEPT
-A FORWARD -i eth1 -o eth0 -p tcp --dport 80 -m state --state NEW,ESTABLISHED -j ACCEPT

-A FORWARD -i eth0 -o eth1 -m state --state RELATED,ESTABLISHED -j ACCEPT

#Log all dropped packets
-N LOGGING
-A INPUT -j LOGGING
-A OUTPUT -j LOGGING
-A FORWARD -j LOGGING
-A LOGGING -j LOG -m limit --limit 4/min --log-prefix "iptables drop: " --log-level 4
-A LOGGING -j DROP

-A FORWARD -j REJECT

-A INPUT -i eth0 -j REJECT
#-A INPUT -i eth1 -j REJECT
-A OUTPUT -o eth0 -j REJECT
#-A OUTPUT -o eth1 -j REJECT

COMMIT

*nat
-A POSTROUTING -o eth0 -j MASQUERADE

COMMIT
